/* ===============================
   Author: Vikram Varma
   Date:   02/01/2016

   Colour Palette:
   ---------------
   Light Cream:		#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */
Body{
    background:#f2f3ee url('/images/bg-tile.gif') top left repeat;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #4b2707;
    font-size: 14px;
    }

.container{
    width:924px;
    margin: 0 auto;
    padding: 30px 24px;
}

/* Typography */

h1,h2{
    color:#d17f38;
    font-size: 40px;
    font-family: 'Love Ya Like A Sister', cursive;
    line-height: 44px;
    margin: 0;
}

h1{
    text-align: center;
    padding: 0 0 20px;
    background: url('/images/header-divider.png') bottom center no-repeat ;
}

h1 em{
    color:#4b2707;
    font-style:normal;
}

h2{
    font-size: 32px;
   
}

p.lead{
    margin:10px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center; 
}
p{
    margin:0;
}

hr{
    border: none;
    width: 333px;
    height: 33px;
    background: url('/images/divider.png') center center no-repeat;
    
    margin: 30px auto;
}
/* Header */

header nav{
    text-align: center;
}
header nav ul{
    display: block;
    margin: 0;
    padding: 0;
    line-height: 141px;
    list-style: none;
}

header nav ul li{
    display: inline-block;
    
    text-transform:uppercase; 
    margin: 0 20px;
    
    
    
}

header nav ul li a{
    text-decoration: none;
    color: #e8c04f;
    padding:20px 0 0 ;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #4b2707;
    padding: 20px 0 0;
    background: url('/images/tiny-donut.png') top center no-repeat;
    
}

header nav ul li#logo a{
    display:block;
    width:259px;
    height:141px;
    background: url('/images/logo.png') center center no-repeat;
}

header nav ul li#logo a:hover{
    width:259px;
    height:141px;
    background: url('/images/logo-hover.png') center center no-repeat;
    
}




/* Hero */

#hero{
    background: #e8c04f;
}
#hero .container{
    margin: -70px auto 20px;
    position: relative;
    
}

#hero .big-ribbon{
    background: url('/images/fresh-whole-ingredients.png') center center no-repeat;
    width:150px;  height:190px;
    position: absolute;
    top: -20px; right: -30px;
}

/* The Whole Story */

#story-excerpt{
    width:530px;
    font-size: 16px;
    margin-right: 24px;
    float:left;   
    
    
}

#story-excerpt a{
    color:#e8c04f;
    
}
#donut-award{
    
    background: url('/images/award.png') top left no-repeat ;
    width: 240px;
    padding: 0px 10px 50px 120px;   
    float:left;
}


h3 {
    color:#4b2707;
    margin: 0 0 10px 0;
}
    

   

/* News & Events */


#announcements{
    width:370px;
    float:left;
    margin-right: 20px;
    
}

#feature-image{
     width:530px;
    float:left;
   
}

#news-events article{
    margin: 20px 0;
    padding:0 0 0 50px;
}

#news-1{
    background: url('/images/icon-news.png') top left no-repeat;
}

#event-1{
    background: url('/images/icon-calendar.png') top left no-repeat;
}

/* another class to get the date closer to time date in announcements */
.one{
    margin: 0;
}

.excerpt p{
    margin: 10px 0;
}

article time{
    font-size: 12px;
    color:#d17f38;
}

article a:link{
   color:#d17f38;
}

article a:visited{
   color:#d17f38;
}

article a:hover{
   color:#4b2707;
}

article.footer a:visted, article.footer a:link{
    text-decoration: none;
}

/* Footer */

footer.main{
    background: url('/images/bg-tile-brown.gif') left top repeat;
    color:#f2f3ee;
    padding: 30px 0;
}

footer.main a:link, footer.main a:visited {
    text-decoration: none;
    color:#d17f38;
    
}
footer.main a:hover{
    color:#e8c04f;
    text-decoration: none;
}

#uncopyright, #credits{
    width: 250px;
    float: left;
    padding: 0 0 10px 55px;
   
}

#uncopyright{
    background: url('/images/icon-recycle.png') left top no-repeat;
}

#credits{
    background: url('/images/icon-apple.png') left top no-repeat;
    float: right;
}



/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





